.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: fit-content;
    background-color: rgb(230, 230, 230);
    box-shadow: 30px 30px 0px 0px rgb(204, 204, 204);
    margin: 30px 0;
}

section {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

p {
    margin: 0;
}

.grey {
    color: #4D4D4D;
    font-size: 25px;
    font-weight: 200;
}

.name {
    font-size: 40px;
    font-weight: 400;
}

.description {
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
}