.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 65vh;
}

section {
    display: flex;
    height: 60vh;
    width: 60vw;
    background-color: rgb(242, 242, 242);
    box-shadow: 30px 30px 0px 0px rgb(230, 230, 230);

}