.navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 250px;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    border-radius: 125px 125px 10px 10px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    overflow: hidden;
}

img{
    height: 100%;
    width: auto;
}