.navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    min-height: 450px;
    width: 220px;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    border-radius: 110px 110px 10px 10px;
}

.photo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    margin: 10px 10px 0 10px;
    overflow: hidden;
}

img {
    height: 100%;
    width: auto;
}

.routes {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-top: 25px; 
    height: fit-content;
}

.menu {
    display: none;
}

.routes .route{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navUl {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.navUl.closed {
    max-height: 0;
    opacity: 0;
}

.navUl.open {
    max-height: 200px;
    opacity: 1;
}

.routes li {
    font-size: 1.2em;
    font-weight: 300;
    cursor: pointer;
    padding: 5px 0;
    color: #666;
    transition: opacity 0.3s ease;
}

.navUl.closed li {
    opacity: 0;
}

.navUl.open li {
    opacity: 1;
}
.routes li:hover {
    color: #29ABE2;
}

.links {
    margin-top: auto;
    margin-bottom: 10px;
}

.links a {
    padding: 0 10px;
}

@media (max-width: 800px) {
    .navegation{
        display: block;
        height: fit-content;
        min-height: 0;
        background-color: white;
        border-radius: 0;
    }

    .photo {
        display: none;
    }

    .routes{
        margin: 0;
    }

    .menu {
        display: flex;
        width: fit-content;
        background-color: #E6E6E6;
        border-radius: 50%;
        padding: 5px;
        transition: transform 0.2s ease;
    }

    .menu:active {
        transform: scale(0.80);
    }

    .open {
        padding: 20px;
        background-color: #E6E6E6;
        width: fit-content;
        border-radius: 5px;
    }

    .links {
        display: none;
    }
}